@keyframes slideInY {
  from {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(100px);
    transition: all 1s;
  }
  to {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
  }
}
.contact {
  background-color: black;
  text-align: center;
  color: #f7f7f7;
  padding: 1rem 1rem 2rem 1rem;

  animation: slideInY 1s ease-in;
}
.item-contact {
  display: flex;
  align-items: center;
  justify-content: center;
}
.items-contact {
  margin: 2rem 0;
}
.item-link {
  text-decoration: none;
  color: #f7f7f7;
}
