.contact {
  background-color: black;
  text-align: center;
  color: #f7f7f7;
  padding: 2rem 1rem;
}
.item-contact {
  display: flex;
  align-items: center;
  justify-content: center;
}
.items-contact {
  margin: 2rem 0;
}
.item-link {
  text-decoration: none;
  color: #f7f7f7;
}
