* {
  margin: 0;
}

.App {
  padding: 2rem 1rem;
  color: #f9f9f9;
  font-size: 0.9rem;
  /* background-color: aquamarine; */
  background: linear-gradient(
    -130deg,
    red 0%,

    rgb(255, 111, 0) 15%,

    #0b34eb 45%,

    #00fbff 80%
  );

  background-size: 400% 400%;
  animation: gradient 15s ease-in-out infinite;
  min-height: 100vh;
  text-align: center;
  height: auto;
}
@keyframes gradient {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}
.text-main {
  padding: 2rem 2rem;
}
.skills-section {
  margin-top: 2rem;
}

.link-button {
  width: auto;
  height: auto;
  padding: 0.5rem 1rem;
  border: 2px solid #f9f9f9;
  border-radius: 4px;
  display: flex;
  margin-bottom: 1.2rem;
}
.link-button a {
  color: #f7f7f7;
  text-decoration: none;
}
.icon-link {
  margin-right: 1rem;
}

/* DESKTOP VERSION */
@media only screen and (min-width: 1024px) {
  .btns {
    display: flex;
    justify-content: center;
  }
  .btn-main {
    min-width: 10rem;
    margin-right: 1rem;
  }
}
