.footer {
  color: rgb(19, 19, 19);
  background-color: #f6f6f6;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  font-size: 0.8rem;
}
.logo-footer {
  width: 50px;
}
.link-footer {
  text-decoration: none;
  margin-bottom: 0.4rem;
  color: rgb(19, 19, 19);
}
