.container-link {
  width: auto;
  height: auto;
  padding: 0.5rem 1rem;
  border: 2px solid #f9f9f9;
  border-radius: 4px;
  color: #f7f7f7;
  display: flex;
  margin-bottom: 1.2rem;
  text-decoration: none;
}
.icon-link {
  margin-right: 1rem;
}

/* DESKTOP VERSION */
@media only screen and (min-width: 1024px) {
  .container-link {
    min-width: 10rem;
    margin-right: 1rem;
  }
  .container-link:last-child {
    margin-right: 0;
  }
}
